.content {
  background-color:floralwhite
  font-family:Times;
  font-size:120%;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 150px 10px 150px;
  text-align: center;
  width: 300;
}
.panel-heading {
	padding: 10px;
}
.panel-title {
	color: light blue;
}

  h1   {
    color:darkslateblue;
    font-family:verdana;
    font-size:160%;
    padding-top: 30px;
    text-align: center;

}
h3   {
    font-style: italic
    font-size: 80%;
 
}
  h4   {
    font-size:80%;
    color:dimgray;
    
}