.content {
  background-color:floralwhite
  font-family:Times;
  font-size:120%;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 150px 10px 150px;
  text-align: center;
  width: 200;
}
.panel-heading {
	padding: 10px;
  background-color: lightblue;
}
.panel-title {
	color: navy;
}

  h1   {
    color:darkslateblue;
    font-family:verdana;
    font-size:160%;
    padding-top: 30px;
    text-align: center;

}
h2 {
  font-family:verdana;
  font-size: 120%;
  color:darkslateblue;
}
h3   {
    font-family:verdana;
    font-style: italic;
    font-size: 100%;
    font-family:verdana;
    color: dimgray;
 
}
  h4   {
    font-family:verdana;
    font-size:80%;
    color:dimgray;
    
}